<div class="well">
    <% todos.each do |todo| %>
    <h3> Descripcion tarea </h3>
    <%= todo.description %> <br>
    <h3> ¿Tarea Completa? </h3>
    <%= todo.complete %> <br>
    <% end %>
    

</div>