<div class="well">
    <% @todos.each do |todo| %>
    <h5> Descripcion tarea </h5>
    <%= todo.description %> <br>
    <h5> ¿Tarea Completa? </h5>
    <%= todo.completed %> <br>
    <div class='container'>
        <%= link_to 'Show', todo %>
    </div>
    <% end %>
</div>

<%= link_to 'Crear ToDo', todos_new_path %>