<div class="card border-secondary mb-3 p-3" style="max-width: 50rem;">
    <p><%= "Tarea: #{@todo.description}" %> </p>
    <p><%= "Completado: #{@todo.completed}" %> </p>
    <%= link_to "Atras", todos_path, class:"btn btn-primary" %>
</div>